[Unit]
Description=Update Cursor

[Service]
ExecStart=/home/muaddib/.local/bin/scripts/update-cursor

Type=oneshot

[Install]
WantedBy=default.target
