[Unit]
Description=Update Cursor

[Service]
ExecStart=/bin/bash -c '%h/.local/bin/scripts/update-cursor'

Type=oneshot

[Install]
WantedBy=default.target
