[Unit]
Description=Update Cursor

[Service]
ExecStart=/home/muaddib/.local/bin/cursor/update-cursor.sh
Type=oneshot

[Install]
WantedBy=default.target
