[Desktop Entry]
Type=Application
Name=Neovim
Exec=/home/muaddib/.local/bin/scripts/open-nvim %f
Icon=/home/muaddib/.config/nvim/nvim.png
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/plain;
